
    <div id="compInfo">
        <small>Application Development Operations<br> &copy; <span id="small">Copyright 2019 Adevon | All Rights Reserved | <a href="/terms">Terms & Conditions</a></span></small> 
    </div>
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/service">Services</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>