<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/about.css" />
        <link rel="stylesheet" href="../../public/styles/main.css"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="divMargin" style="padding-top: 25px">
            <img src="../../public/images/hero-illustration.svg" id="divImg"/>
        </div>
        <div class="divMargin">
            <h1><strong>A brief history</strong></h1>
        </div>
        <div class="divMargin"><p>
                We love learning about people’s early-stage ideas and working alongside them to make 
                their dreams into reality - from that initial idea you have in the shower to proposal.
                We are passionate about offering a complete service to our clients and supporting them 
                in every stage of their product’s life cycle.
            </p>
        </div>
        <div class="divMargin"><p>
                Adevon was founded in 2019 to solve an industry-wide problem and over come big agencies
                that worked slowly, didn’t include the client in the development process, and ended up
                delivering them a product that was not only expensive, but not what they really wanted.
            </p>
        </div>
        <div class="divMargin">
            <p>
                In early 2019, with a team of developers with years of experience and a
                knack for business development, our main aim is to collaborate on bigger projects and diversify
                the range of services offered by the company. Since then, Adevon has experienced 
                a great deal of growth, and has been able to offer more services to help businesses and 
                startups create amazing digital products efficiently and cheaply.
            </p>
        </div>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/scripts %>
    </body>
</html>