<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link href="../../public/styles/main.css" rel="stylesheet"/
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main role="main" class="content">
            <p><h1>Error...</h1></p>
            <p><h2>Failed to submit. Message is required on the contact form!.</h2></p><br/>
        </main>
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/scripts %>
    </body>
</html>