<!DOCTYPE html>
<html lang="en-US">
    <head>
        <% include ../partials/head %>
        <link rel="stylesheet" href="../../public/styles/main.css"/>
        <link href="../../public/styles/service.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div>
            <img src="../../public/images/mvp-timeline.svg">
            <span>Adevon is a web development application company working with businesses and individuals worldwide to create outstanding web applications for business needs on demand. We take pride in our fast turnaround time and one-on-one communication with our customers.</span><br/>
        </div>
        <div id="grig-2D">
            <div>
                <img src="../../public/images/our-mission.png" style="width: 60%; height:50%; margin-left: 100px">
                <h5>OUR MISSION</h5>
                Adevon strives to be among the best web application development companies in the world, while offering top-notch customer support and one-on-one communication with the businesses we work with. We guarantee you will be satisfied with our work. Your web application is important so we can get the job done right.
            </div>
            <div>
                <img src="../../public/images/our-services.png" style="width: 60%; margin-left: 100px; height: 50%;">
                <h5>CUSTOMER SERVICE</h1>
                One of the core values behind our business is to provide top-notch customer service to our customers. Need something changed on your web application? Give us a call or drop us a mail and your updates will be done in 24 hours. Most times web application updates are completed within minutes of your request.
            </div>
        </div>
        <div style="padding-top: 20px">
            <h5 style="text-align: center">OUR AFFORDABLE WEB APPLICATION DEVELOPMENT PACKAGES INCLUDE</h1>
        </div> 
        <div id="grig-2D">
            <div style="margin-left: auto; margin-right: auto">
                <h5>UNLIMITED UPTIMIZATION</h1>
                Your application will be uptimized 24/7 with a 99.9% uptime guarantee.
            </div>
            <div style="margin-left: auto; margin-right: auto">
                <h5>OUTSTANOUTSTANDING SUPPORT</h1>
                We guarantee quick response times and your satisfaction
            </div>
        </div>
        <div><h5>Product design</h1>
            Combining creative insight with development experience, our efforts are to help you take your first steps towards building your product.
            We see each new web application development project as an opportunity to help someone succeed. We take the time for proper discovery and get to know your business, products, and services as much as possible in order to identify specific problems and their solutions. We’ve worked with many businesses to redesign existing web applications in an effort to increase participation, sales and to outrank the competition. We identify underlying problems and construct tangible solutions that will immediately help your business grow.  
        </div>
        <div>
            <h5>Tell Us About Your Project</h5>
            We are independent consultants who can deliver world-class solutions that solve your toughest business problems. 
            We look forward to exceeding your expectations.
        </div>   
        <footer>
            <% include ../partials/footer %>
        </footer>
        <% include ../partials/scripts %>
    </body>
</html>